body{
    background-color: #cccccc;
}

#root{
    margin: 30px;
}

.signupArea {
    width: 100px;
    padding-top: 50px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #0e4eaf;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.teberu{
    border-collapse: collapse;
    width: 50%;
}
.teberu td, .teberu th {
    border: 1px solid rgb(0, 64, 128);
    padding: 6px;
}

.teberu tr:nth-child(even){background-color: rgb(77, 166, 255);}

.teberu tr:hover {background-color: #ddd;}

.teberu th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(51, 153, 255);
    color: white;
}

.wrong, .wrong:hover{
    background-color: #af0507;
    cursor: auto;
}

.correct, .correct:hover {
    background-color: #11af0d;
    cursor: auto;
}

button:hover{
    background-color: #5b7cbb;
}

.cont{
    width: 80%;
}
.left {
    float: left;
    padding: 50px;
}
.right {
    float: right;
}
.center {
    float: left;
    padding: 50px;
}


